extends layout

block contenido 
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        form.agregar-tarea(action=`/proyecto/${proyecto.url}` method="POST")
            .campo
                label(for="tarea") Tarea:
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de Tarea")
            .campo.enviar 
                input.boton.nueva-tarea(type="submit" value="Agregar")

        //- TODO - List of pending
        .listado-pendientes 
            ul 
              if tareas.length
                each tarea in tareas
                    li.tarea(data-tarea=tarea.id)
                        p= tarea.tarea
                        .acciones
                            if tarea.estado
                                i.far.fa-check-circle.completo
                            else
                                i.far.fa-check-circle
                            i.fas.fa-trash
              else
                p No hay tareas pendientes.


        //- pre= vardump(tareas)

        //- Project Advances
        .avance
            h2 Avance del proyecto
            #barra-avance.barra-avance
                #porcentaje.porcentaje

        //- Actions that can be taken
        .contenedor-acciones 
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyecto 
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto
